// general styles for the project that wouldn't be a reuseable component

/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

.bv-title-divider::after{
    content: url(../img/icons/palm-leave-white.svg);
    width: 90px;
    display: block;
    margin: 20px -10px -15px;

     @include bp($sm) {
      content: url(../img/icons/palm-leave-white.svg);
      width: 100px;
      display: block;
      margin: 20px -10px -15px;
     }

     @include bp($md) {
      content: url(../img/icons/palm-leave-white.svg);
      width: 120px;
      display: block;
      margin: 20px -10px -15px;
     }

     @include bp($xl) {
      content: url(../img/icons/palm-leave-white.svg);
      width: 150px;
      display: block;
      margin: 20px -10px -15px;
     }
   }

.bv-pois-margin{

  margin-top: auto;
  @include bp($md) { margin-top: -150px; }
}


/* ==========================================================================
 hero-youtube
========================================================================== */

/* The Modal (background) */
.bv-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.bv-modal-content-details {
  position: absolute;
  height: 100%;
  max-height: 620px;
  width: 100%;
  margin: auto;
  padding:  55px;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;
}

.bv-mySlides {
  margin: auto;
  max-width:1000px;
  width:100%;
  background-color: #fff;
}


.bv-iframe-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // 16:9 ratio
  background-color:#000;
}

.bv-iframe-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* The Close Button */
.bv-close {
  position: absolute;
  background-size:16px;
  top: 0px;
  right: 0px;
  background-image: url('../img/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 55px;
  height: 55px;
  background-color: $bv-yellow;
  z-index:999;
  cursor: pointer;
}


@media only screen and (max-width: 650px) {

.bv-modal-content-details {
  padding: 0;
  max-height: 38vh;
  height: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 800px) {

.bv-modal-content-details {
  padding: 0;
  max-height: 450px;
  height: 100%;
  }
}

.bv-disable-scroll {
  overflow: hidden;
  & >:not(.bv-modal) {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}


/* ==========================================================================
   Parallax & Backgrounds
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;
}

.bv-parallax{
  background-attachment: scroll;
  background-size: cover;
  }

}
.bv-section-bg{
  background-color: $bv-darkblue;
}

.bv-banner-out{}
